<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./../static/bootstrap-social.css">         <!-- 변경 필요 [플라스크 연동 필요] -->
    <link rel="stylesheet" href="./../static/assets/css/bootstrap.css">     <!-- 변경 필요 [플라스크 연동 필요] -->
    <link rel="stylesheet" href="./../static/assets/css/docs.css">          <!-- 변경 필요 [플라스크 연동 필요] -->
    <link rel="stylesheet" href="./../static/assets/css/font-awesome.css">  <!-- 변경 필요 [플라스크 연동 필요] -->

</head>
<body> <!-- 변경 필요 [색상] -->
<div class="wrapp container-fluid">

    <div class="row header-wrapper"> <!-- 변경 필요 [색상] -->
        <div class="col-md-12">
            <nav class="navbar navbar-expand navbar-light" style="background-color: #f0f0f0"> <!-- 변경 필요 [색상] -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button> <a class="navbar-brand" href="#">GGuide</a>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav">
						<li class="nav-item active">
							 <a class="nav-link" href="#">홈<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item dropdown active">
							 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">메뉴</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								 <a class="dropdown-item" href="#">학습하기</a>
                                <a class="dropdown-item" href="#">가이드</a>
                                <a class="dropdown-item" href="#">실습하기</a>
                                <a class="dropdown-item" href="#">문서</a>
                                <div class="dropdown-divider">
								</div>
							</div>
                        </li>
                        <li class="nav-item">
                            <div class="search-wrapper">
                                <form>
                                        <input>
                                        <button>검색</button>
                                </form>
                            </div>
                        </li>
					</ul>

				</div>
			</nav>
        </div>
    </div>

	<div class="row">

        <div class="col-md-3 col-lg-2"> <!-- sidebar -->
            <div class="sidebar" style="overflow-y: auto;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            글 목록
                        </h3>
                    </div>
                    <div class="list-group list-group-toc" id = 'postlist'>
                        <a class="list-group-item"><span>
                            <strong>
                                돌아가기
                            </strong>
                        </span></a>
                        <a class="list-group-item">{{ PostList }}</a> <!-- 변경 필요 [Vue.js 연동] -->


                    </div>
                </div>
            </div>
        </div> <!-- sidebar end -->

        <div class="col-md-5 col-lg-7"> <!-- contents -->
            <div class="contents-wrapper">
                <div class="" id = "content-post">
                    <button class="btn">수정</button>
                    <span id="debug-data">
                        gid - {gid}
                        pid - {pid}
                    </span>
                    
                    <span v-html="Contents"></span>
                </div>

            </div>
        </div> <!-- contents end -->


        <div class="col-md-4 col-lg-3"> <!-- sidebar2 --> <!-- 변경 필요 [Vue.js 연동] --> <!-- 변경 필요 [md 미만일시 두번째 순서로] -->
            <div class="sidebar" style="overflow-y: auto;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            목차
                        </h3>
                    </div>
                    <div class="list-group list-group-toc" id = "contentsindex">
                        <a class="list-group-item">{{ contentsIndex }}</a>

                    </div>
                </div>
            </div>
        </div> <!-- sidebar2 end -->

	</div>
	<div class="row"> <!-- footer banner -->
		<div class="col-12 w-100 bottom-wrapper" style="background: #838488"> <!-- 변경 필요 [색상, 배너 패딩] -->
            <p class="text-muted text-center">© Temp Inc 2019</p>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- --><script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- 변경 필요 [https://cdn.jsdelivr.net/npm/vue] -->


<script>
    var postRender = new Vue({
        el: '#content-post',
        data: {
            Contents: '<h1>서버에서 본문을 읽을 수 없음</h1>' // 본문 서버에 요청할 내용 //

        }
    });
    

    var postListRender = new Vue({
        el : '#postlist',
        data: {
            PostList: 'd'
        }
    });

    var indexRender = new Vue({
        el : '#contentsindex',
        data: {
            contentsIndex: 'ddd'
        }
    });


</script>



<style>

    .wrapp{
        width: 100%;
        background: #fff;
    }
    .bottom-wrapper{
        position: fixed; bottom: 0;
    }
</style>

</body>
</html>